/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추가 전역 스타일 (예시) */
body {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f8fafc;
}
